<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.bw.mvplibrary.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="维度电影"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.SwitchPlaceActivity"></activity>
        <activity android:name=".activity.ScheduleActivity" />
        <activity android:name=".activity.SwitchCinemaActivity" />
        <activity android:name=".activity.MoviesActivity" />
        <activity android:name=".activity.CinemaActivity" />
        <activity android:name=".activity.LoadActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ShowActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>